body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #383051;
    font-family: 'Chakra Petch', sans-serif;
}

div#title>p {
    font-family: 'Spline Sans Mono', monospace;
    color: #ffff86;
    font-weight: 700;
    font-size: 50px;
    margin: 30px 0;
}

div#game-board {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #d7cbff;
    box-shadow: 0 0 10px 8px #d7cbff;
}

.cell-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 40px;
    line-height: 0;
    border: none;
}

div.cell {
    background-color: #b098ff;
}

div.cell:nth-child(2n) {
    background-color: #cac6da;
}